<div class="text-center">Listado de Gastos</div>
<hr>
<div class="row" style="margin-top:40px;">
  <div class="col-lg-6">
    <div class="alert alert-success sizeAlert">
      Presupuesto<strong>$ {{presupuesto}}</strong>
    </div>
  </div>
  <div class="col-lg-6">
    <div class= "sizeAlert" [ngClass]="aplicarColorRestante()">
      Restante <strong>$ {{restante}}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between " *ngFor="let gasto of listGasto">
        <strong>{{gasto.nombre}}</strong>
        <span class="badge rounded-pill bg-secondary">${{gasto.cantidad}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="row" style="margin-top:40px;">
  <!-- ... otros elementos ... -->
  <div class="col-lg-6">
    <button class="btn btn-danger" (click)="limpiarListado()" [disabled]="cargando">
      <span *ngIf="cargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ cargando ? 'Limpiando...' : 'Limpiar Listado' }}
    </button>
  </div>
</div>